{
  // this file will tell babel which presets to use for transpiling the code
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "jsx-control-statements"
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties"
    ],
    [
      "@babel/plugin-proposal-optional-chaining"
    ]
  ]
}
